body {
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}

h1{
    color: #fff;
}

nav {
    position: fixed;
    width: 1000%;
    background: #1865f6;
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
}
